<ion-header>
  <ion-navbar>
    <home-header></home-header>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="正在刷新...">
    </ion-refresher-content>
  </ion-refresher>
  <module-template [item]="tempConf" [tempData]="homeData" *ngIf="moduleItem && moduleItem.type && moduleItem.type === 15"></module-template>
  <!--<module-template [item]="tempConf" [tempData]="homeData" *ngIf="moduleItem && moduleItem.type && moduleItem.type !== 15"></module-template>-->
</ion-content>
